.friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  width: 500px;
  box-shadow: 0 0 10px #c6cccced;
  border-radius: 20px;
  background-color: rgb(247, 220, 246);
  margin: auto;
  margin-top: 0px;
}

.friendList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
  width: inherit;
  margin: 0px;
  gap: 10px;
}

.friends__item {
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px #d8a4e6ed;
  padding: 20px;
  border-radius: 20px;
}

.avatar {
  width: 200px;
  border-radius: 50%;
  height: 200px;
  padding: 15px 5px 0px 5px;
  margin-bottom: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 10px #d8a4e6ed;
  margin-left: 40px;
}

.friends__name {
  font-size: 30px;
  font-weight: 700;
  margin: 0px;
  margin-top: 5px;
  align-content: center;
  margin-left: 40px;
}

.status {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}
.true {
  background-color: rgb(116, 230, 116);
}
.false {
  background-color: rgb(207, 66, 66);
}
